
 :root {
    --primary-blue: #131c63;
    --light-gray: #F4F4F4;
    --accent-red: #B22222;
    --text-dark: #333333;
    --footer-gray: #555555;
  }


  .primopiano{
     background-color: var(--light-gray);
  color: var(--text-dark);
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    
    
  }
  .primopiano .img-sfondo{
    position: relative;  /* Permette di posizionare la citazione sopra l'immagine */
    width: 100%;
    
  }
  .primopiano .img-sfondo .sfondo-img{
    width: 100%;  /* L'immagine copre il 100% della larghezza */
    max-height: 50vh;  /* Imposta l'altezza massima a metà finestra */
    object-fit: cover;  /* Mantiene l'immagine proporzionata senza distorsioni */
    height: 40vh;
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5)) brightness(60%) blur(1px); /* Aggiungi l'ombra all'immagine */
}
.img-sfondo .citazione {
  
  position: absolute;
  right: auto;
  top: 80px;
  font-size: 160%;
 
  color: var(--light-gray);
  display: block;
  text-align: center;
  font-family: 'Merriweather', serif;
  overflow: hidden;
  overflow: hidden;
  
  white-space: normal;
  width: 0;
  animation: typing 2s steps(100) forwards, blink 0.5s step-end infinite alternate;
}
@keyframes typing {
  from { width: 5%; }
  to { width: 100%; }
  from{height: 10%;}
  to{height: 50%;}
}


  

  .primopiano .articolo{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 10%;
    padding-bottom: 10%;
    
  }
  .articolo img{
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
  }
